.modal {
  padding: 40px;
  outline: 3px solid hsla(0, 0%, 100%, 0.102);
  border: none;
  border-radius: 4px;
  width: 500px;
  height: 250px;
}

.modal-audio {
  height: 350px;
}

.modal-image {
  width: 600px;
  height: 500px;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  font-size: 32px;
  height: 100%;
}

.team-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
